body{
	font-family: sans-serif;
}

/* -------------------- sidebar styles -------------------- */
.sidenav {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #07359b;
	overflow-x: hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-right: 8px solid #b5b5b5;
	font-size: 22px;
 	color: white;
}

/* --------------- options style --------------- */
.option-box{
	transition: 0.5s;
 	padding: 4% 2% 4%;
	border-top: 1px solid #4971c1;
 	border-bottom: 1px solid #739df1;
}

.option-box:hover{
	transition: 0.5s;
	padding: 4% 5% 4%;
}

.option-box.active{
	background-color: #dde1d8;
	color: black;
 	padding: 4% 5% 4%;
}

.option-text{
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.option :hover{
   cursor: pointer;
}

/* --------------- suboptions style --------------- */
.suboption{
	font-size: 20px;
	transition: 0.5s;
	padding: 4px 0px 4px;
}

.suboption:hover{
	transition: 0.5s;
	padding: 4px 8px 4px;
}

.suboption.active{
 	color: black;
	background-color: #3b75e6;
	padding: 4px 8px 4px;
}

.suboption-text{
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.suboptions-list{
	background-color: #739df1;
	float: left;
	width: 100%;
	height: 100%;
	border-bottom: 15px solid #07359b;
}

/* -------------------- main pages styles -------------------- */
.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.section {
    flex: 1;
}

.opinionzoom-logo{
	font-size: 120px;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	color: #2f54a2;
	text-align: center;
}

.search-box-form{
	text-align: center;

}

#search-box{
	display: inline-block;
	margin-top: 2%;
	max-width: 1000px;
}

#search-input{
	width: 450px;
	height: 40px;
	border-radius: 40px;
  border: 2px solid #c3c3c3;
	font-size: 18px;
	text-indent: 15px;
}

input:focus::placeholder {
  color: transparent;
}

#search-form{
    justify-content: center;
}

#search-submit{
	max-width: 30px;
	-webkit-transform: translateY(10%);
  transition: 0.2s;
}

#search-submit:hover{
	background-color: #e7eede
}

.config-btn{
	width:120px;
	height: 35px;
	background-color: #f9f9f9;
	font-size: 18px;
  border-radius: 8px;
	border: 0px;
	margin-right: 10px;
}

.config-btn:hover{
	transition: 0.2s;
	background-color: #e5e5e9;

}

textarea{
	resize: none;
}

/* -------- enelvo styles -------- */

.text-input-form{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width:800px;
  height: 405px;
}

.text-input-box{
	width: 100%;
	height: 95%;
	background-color: #f9f9f9;
	border: 2px solid #959595;
}

.input-area{
	background-color: #ededed;
	border: 8px solid #ededed;
	border-radius: 10px;
	width: 94%;
	height: 90%;
	font-size: 15px;
}

.input-area.file{
  height: 310px;
	margin-left: 2%;
}

.file-choose{
	text-align: center;
  margin-top: 18%;
	font-size: 18px;
}

.input-option{
	display: inline-block;
	width: 49.65%;
	font-size: 30px;
  margin-bottom: 10px;
	background-color: #d0d0d0;
	transition: 0.3s;
}

.input-option.active{
	background-color: #f9f9f9;

}

#normalize-btn{
	margin-top: 2%;
	font-size: 22px;
	width: 120px;
	height: 35px;
	background-color: #f9f9f9;
	border: none;
  border-radius: 10px;
}

.plot{
  width: 30%;
}

.project-logos{
	width: 20%;
	background-color: #07359b;
	border-right: 8px solid #b5b5b5;
	font-size: 22px;
 	color: white;
	left: 0;
	bottom:0;
	position: fixed;
	z-index: 1;
}

.logo-img{
	vertical-align: bottom;
	width: 30%;
	margin-left: 1%;
}

h1, h2, h3{
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	color: #0c5998;
}

.intro{
	text-align: center;
	font-size: 20px;
	color: #444444;
	margin-left: 10%;
	margin-right: 10%;
}

h2{
	font-size: 33px;
}

h3{
  font-size: 28px;	
}

.panels{
	margin-left: 15%;
	margin-right: 15%;
	
}

.panel{
	border: 4px solid #cccccc;
	border-radius: 10px;
	height: 270px;
	margin-bottom: 20px;
	display: flex;
}

.panel-title{
	text-align: left;
}

.column{
  float: left;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.left{
	flex: 75%;
  text-align: left;
  margin-left: 50px
}

.right{
  flex: 25%;
	float: right;
}

.panel-img{
	width: 180px;
	float: right;
  padding: 45px 50px;
}

.panel-text{
	font-size: 20px;
	color: #444444;
}

.panel:after{
	clear: both;
}