{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>OpinionZoom</title>
		<!--<link rel="stylesheet" TYPE="text/css" HREF = "styles.css"/>-->
        <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    </head>

    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> <!-- usado pra fazer requisicoes http no vue app -->

        <!-- template para caixa de insercao de texto -->
        <script type="text/x-template" id="text-input-template">
            <div class="text-input-box">
                <div class="text-input-options">
                    <div class="input-option active" v-on:click.prevent='setSelectionOp(0)'>
                        Texto
                    </div>
                    <div class="input-option" v-on:click.prevent='setSelectionOp(1)'>
                        Arquivo(.txt)
                    </div>
                </div>
                <!-- depende de quem estiver selecionado -->
                <div class="text-input" v-if="mainPageSelected === 0">
                    <textarea class="input-area text" rows="16" cols="92"></textarea>
                </div>
                <div class="file-input" v-if="mainPageSelected === 1">
                    <div class="input-area file">
                        <input class="file-choose" type="file"></input>
                    </div>
                </div>
            </div>
        </script>


        <div id='app'> <!-- inicio app vue-->

            <div class="sidenav">
                <div class="options-list-box">
                    <div class='options-list' v-for='(op, index) in options'>
                        <!-- mostrar todas as opcoes -->
                        <div class='option' >
                            <div class="option-box"  v-on:click.prevent="changeCurrOp(index)">
                                <div class="option-text">
                                    [[op]]
                                </div>
                            </div>
                            <!-- mostrar subopcoes para a opcao selecionada -->
                            <div class="suboptions-list" v-if='index === currOption && subOpActive'>
                                <div class="sublist" v-for='(subOp, subIndex) in subOptions[currOption].ops'>
                                    <div class="suboption" v-on:click.prevent="changeCurrSubOp(subIndex)">
                                        <div class="suboption-text">
                                            [[subOp]]
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main">

                <!-- uma nova entrada possivel dependendo da opcao selecionada atualmente -->
                <div class="inicio" v-if="options[currOption] === 'Início'">
                    Introdução e explicação sobre o projeto
                </div>

                <div class="opinionzoom" v-if="options[currOption] === 'OpinionZoom'">

                    <div class="opinionzoom-logo">
                        OpinionZoom
                    </div>
                    <div class="opinionzoom-0" v-if="currSubOp === -1">
                        <div class="search-box-form">
                            <form id="search-box" action="main/" method="get">
                                <input class="config-btn" type="button" value="Configurar"/>
                                <input id="search-input" type="text" maxlength="100" placeholder="Obter revisões" v-model="searchField"/>
                                <input id="search-submit" type="image" src="{%static 'assets/doc.png'%}" v-on:click.prevent="searchQuery()" />
                            </form>
                        </div>

                    </div>
                    <div class="opinionzoom-1" v-else-if="subOptions[currOption].ops[currSubOp] === 'Como usar?'">
                        Instruções para uso do pipeline
                    </div>
                </div>

                <div class="ferramentas" v-if="options[currOption] === 'Ferramentas'">
                    <div class="ferramentas-0" v-if="currSubOp === -1">
                        Explicação de cada ferramenta disponível
                    </div>
                    <div class="ferramentas-1" v-if="subOptions[currOption].ops[currSubOp] === 'Normalizador'">
                        <!-- Entrada para uso do normalizador -->
                        <div id="enelvo-header">
                            Normalizador Enelvo
                        </div>

                        <!-- caixa de input de texto ou de arquivo -->
                        <form class="text-input-form" action="index.html" method="post">
                            <text-input-component
                                :main-page-selected="mainPageSelected"
                                v-model="mainPageSelected"
                                ></text-input-component>

                            <input id="normalize-btn" type="button" name="" value="Iniciar">
                        </form>


                    </div>
                    <div class="ferramentas-2" v-if="subOptions[currOption].ops[currSubOp] === 'Filtro de qualidade'">
                        Entrada para uso do filtro de qualidade
                        <form class="text-input-form" action="index.html" method="post">
                            <text-input-component
                                :main-page-selected="mainPageSelected"
                                v-model="mainPageSelected"
                                ></text-input-component>

                        </form>

                    </div>

                    <div class="ferramentas-3" v-if="subOptions[currOption].ops[currSubOp] === 'Filtro de subjetividade'">
                        Entrada para uso do filtro de subjetividade
                        <form class="text-input-form" action="index.html" method="post">
                            <text-input-component
                                :main-page-selected="mainPageSelected"
                                v-model="mainPageSelected"
                                ></text-input-component>

                        </form>
                    </div>

                    <div class="ferramentas-4" v-if="subOptions[currOption].ops[currSubOp] === 'Extrator e classificador de aspectos'">
                        Entrada para uso do extrator e classificador de aspectos
                        <form class="text-input-form" action="index.html" method="post">
                            <text-input-component
                                :main-page-selected="mainPageSelected"
                                v-model="mainPageSelected"
                                ></text-input-component>

                        </form>
                    </div>

                    <div class="ferramentas-5" v-if="subOptions[currOption].ops[currSubOp] === 'Sumarizador de revisões'">
                        Entrada para uso do sumarizador de revisões
                        <form class="text-input-form" action="index.html" method="post">
                            <text-input-component
                                :main-page-selected="mainPageSelected"
                                v-model="mainPageSelected"
                                ></text-input-component>

                        </form>
                    </div>
                </div>

                <div class="api" v-if="options[currOption] === 'API'">
                    <div class="api-0" v-if="currSubOp === -1">
                        texto sobre a API
                    </div>
                    <div class="api-1" v-if="subOptions[currOption].ops[currSubOp] === 'Documentação'">
                        Explicação de cada função disponibilizada pela API
                    </div>
                    <div class="api-1" v-if="subOptions[currOption].ops[currSubOp] === 'Dependências'">
                        Programas necessários para o funcionamento da api e um tutorial de obtenção dos mais complicados
                    </div>
                    <div class="api-1" v-if="subOptions[currOption].ops[currSubOp] === 'Download'">
                        link para download da api (github?)
                    </div>
                </div>

            </div>

        </div>

	<script type="text/javascript" src="scripts.js"></script>
	<script type="text/javascript" src="{%static 'main/scripts.js'%}"></script>
    </body>

</html>
