{% load static bulma_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpinonZoom</title>
    {% block css %}
    {% font_awesome %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    {% endblock css %}
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- usado pra fazer requisicoes http no vue app -->
    <!-- template para caixa de insercao de texto -->
    <script type="text/x-template" id="text-input-template">

            <div class="panel">
                <div class="tabs is-toggle is-fullwidth">
                    <ul>
                        <li class="is-active">
                            <a>Texto</a>
                        </li>
                        <li>
                            <a>Arquivo</a>
                        </li>
                    </ul>
                </div>
                <div class="media">

                    <div class="media-content">
                        <div class="field">
                            <p class="control">
                                <textarea
                                    class="textarea has-fixed-size is-medium"
                                    placeholder="Insira o texto usando <enter> como separador"
                                    rows="7">
                                </textarea>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- depende de quem estiver selecionado -->
                <!--
                <div class="text-input control" v-if="mainPageSelected === 0">
                    <textarea class="text-area is-large" placeholder="Insira o texto usando <enter> como separador"></textarea>
                </div>
                -->
                <div class="file-input" v-if="mainPageSelected === 1">
                    <div class="input-area file">
                        <input class="file-choose" type="file"></input>
                    </div>
                </div>
            </div>
        </script>

    <div class="main" id="app">
        <!-- inicio app vue -->

        <nav class="navbar is-link" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-project-diagram"></i>
                    </span>
                </div>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="headerMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="headerMenu" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown" v-for="(op, index) in options"
                        v-bind:class="{ 'has-dropdown is-hoverable' : subOptions[index].ops.length}">
                        <a class="navbar-link is-arrowless" v-on:click.prevent="changeCurrOp(index)">
                            #%op%#
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" v-for="(subOp, subIndex) in subOptions[index].ops"
                                v-on:click.prevent="updateMenuOptions(index, subIndex)">
                                #%subOp%#
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="section">
            <!-- uma nova entrada possivel dependendo da opcao selecionada atualmente -->
            <div class="container" v-if="options[currOption] === 'Início'">
                <div class="opinionzoom-logo smaller-logo">
                    Opinionzoom
                </div>
                Ficou mais prático analisar um produto antes de comprá-lo.
                Com o OpinionZoom você não precisa mais ficar lendo centenas de comentários
                para decidir se o celular que você quer comprar vale a pena mesmo.
                Basta informar o nome do produto desejado para o programa buscar as
                opiniões sobre ele na web. Esses dados serão então processados utilizando técnicas
                de análise de sentimentos para gerar um resumo das opiniões muito mais prático de se interpretar.
                Essa aplicação foi desenvolvida no ICMC-USP como parte do projeto OPINANDO do NILC.
                Aqui você encontrará também as ferramentas que forem desenvolvidas pelo projeto OPINANDO
                disponíveis para utilização online.
                Para entender melhor o funcionamento do OpinionZoom, acesse a aba "OpinionZoom"->"Como funciona?".
                Além dessa versão web, existe também a versão em formato de API que pode ser obtida <a
                    href="https://github.com/serbarbosa/sentiment-pipeline" target="_blank">aqui</a>.

            </div>

            <!-- aba opinionzoom-->
            <div class="container" v-if="subOptions[currOption].ops[currSubOp] === 'Use Agora'">
                    <!-- Formulario de busca -->
                <div class="container has-text-centered" v-if="subOptions[currOption].ops[currSubOp] === 'Use Agora'">
                    <div class="container" v-if="responseStage === 0">
                        <div class="opinionzoom-logo">
                            OpinionZoom
                        </div>
                        <form action="main/" method="get">
                            <div class="field is-grouped" id="search-form">
                                <div class="control">
                                    <button class="button is-light">Configurar</button>
                                </div>
                                <div class="control">
                                    <input class="input" id="search-input" type="text" maxlength="100"
                                        placeholder="Obter revisões" v-model="searchField"/>
                                </div>
                                <div class="control">
                                    <input id="search-submit" type="image" src="{%static 'assets/doc.png'%}"
                                        v-on:click.prevent="searchQuery()" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Resultados -->
                <div class="opinionzoom-0-result" v-if="responseStage > 0">

                    <div class="box content-h2" v-if="responseStage === 1">
                        <div class="content has-text-centered">
                            Resgatando e processando revisões para <strong>#%searchField%#</strong>...
                        </div>
                        <progress class="progress is-info" max="5">60%</progress>
                    </div>
                    <div class="opinionzoom-0-loaded" v-if="responseStage === 2">
                        <div class="content is-medium">
                            Foram processadas <strong>#%textResponse[2]%#</strong> revisões para <strong>#%textResponse[0]%#</strong>.
                        </div>

                        <!--panel para escolha e plotagem do grafico-->
                        <article class="panel">
                            <p class="panel-heading has-text-centered">
                                <strong>Classificação de Aspectos</strong>
                            </p>
                            <p class="panel-tabs">
                                <a class="panel-tab-op is-active is-medium">Barras</a>
                                <a class="panel-tab-op is-medium">Donut</a>
                                <a class="panel-tab-op is-medium">Geral</a>
                            </p>
                            <div class="panel-block">
                                <div class="box is-plot-area">
                                    <canvas id="aspects-chart"></canvas>
                                </div>
                            </div>
                        </article>

                        <article class="panel">
                            <p class="panel-heading has-text-centered">
                                <strong>Resumo das opiniões</strong>
                            </p>

                            <div class="control">
                                <textarea class="textarea is-medium" rows="14" readonly >
                                    #%summaryData%#
                                </textarea>
                            </div>


                        </article>
                    </div>
                </div>
            </div>



            <!-- Como funciona -->
            <div class="opinionzoom-1" v-else-if="options[currOption] === 'OpinionZoom' && currSubOp==-1">
                <h1 class="title">Como funciona?</h1>
                <div class="container">
                    <p>
                        O processo para se obter os resumos de opinião sobre um produto partindo de um conjunto de
                        revisões
                        foi denominado de <strong>pipeline de sentimento</strong>. Nesse processo são usadas diversas
                        ferramentas disponibilizadas
                        nesse site de forma a refinar e resumir os dados.
                    </p>
                </div>

                <h2 class="subtitle">Pipeline de sentimento</h2>
                <div class="container">
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical">
                            <div class="tile is-parent">
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Crawler de revisões
                                        </p>
                                        <div class="card-header-icon">
                                            <img class="icon" src="{%static 'assets/crawler.png'%}" alt="web crawler">
                                        </div>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            O produto informado será buscado em sites de e-commerce
                                            brasileiros de onde serão extraídas todas as revisões de
                                            usuários que forem encontradas. Atualmente a busca é feita apenas no site da Amazon e
                                            utiliza-se o primeiro produto resultante da busca para extrair as revisões.
                                        </div>
                                    </div>
                                </div>
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Filtragem por qualidade
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-filter"></i>
                                            </span>
                                        </div>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            As revisões extraídas passarão por um filtro de qualidade, que irá analisar
                                            a formaçao
                                            de sentençcas de cada revisão e removerá da base as que aparentarem ter
                                            menor carga de
                                            sentimento.
                                        </div>
                                    </div>
                                </div>
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Normalização textual
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-magic"></i>
                                            </span>
                                        </div>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            As revisões restantes passarão pelo normalizador Enelvo onde será feita a
                                            substituição
                                            de abreviações usadas na web e a correção de palavras erradas.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile is-parent">
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Filtragem por subjetividade
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-filter"></i>
                                            </span>
                                        </div>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            Após normalizadas, as revisões passam por um filtro de subjetividade que
                                            analisará
                                            sentença por sentença. Aquelas que não forem subjetivas, ou seja, que não
                                            puderem ser
                                            classificadas como tendo sentimento positivo ou negativo, serão removidas.
                                        </div>
                                    </div>
                                </div>
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Identificação e classificação de aspectos
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </div>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            A próxima consistirá em identificar os aspectos citados nas revisões(um
                                            celular, por
                                            exemplo, as pessoas irão provavelmente falar sobre os aspectos bateria,
                                            câmera e tela) e
                                            classificar se estão falando bem ou mal sobre eles. Nessa etapa são gerados
                                            gráficos que
                                            permitem visualizar quantas vezes falou-se bem ou mal de cada aspecto.
                                        </div>
                                    </div>
                                </div>
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Sumarização
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-file-alt"></i>
                                            </span>
                                        </div>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            Na última etapa será gerado um resumo textual sobre as opiniões do produto.
                                            O resumo
                                            levará em conta os aspectos classificados e poderá ser feito usando
                                            diferentes métodos.
                                            O tipo de sumarizador a ser usado pode ser modificado na opção
                                            "configuração" antes de
                                            iniciar o pipeline de sentimento. Consulte a aba "Ferramentas"->"Sumarizador
                                            de
                                            revisões" para saber mais sobre cada tipo de sumarizador disponível.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ferramentas -->
            <!-- Explicação das ferramentas usando cards de bulma. -->
            <!-- Criar 1 nova classe tile para cada 2 ferramentas, criar cada ferramenta aninhada em um is-parent -->
            <!-- Para facilitar, pode ser criado um component posteriormente -->
            <div class="container" v-if="options[currOption] === 'Ferramentas'">
                <div class="container" v-if="currSubOp === -1">
                    <h1 class="title">
                        Ferramentas
                    </h1>
                    <p class="content">
                        As ferramentas disponibilizadas aqui foram desenvolvidas pelo OPINANDO, um projeto de mineração
                        de opinião para
                        o português pertencente Núcleo Interinstitucional de Linguística Computacional (NILC).
                        Abaixo você encontrará uma breve explicação sobre cada ferramenta e sua respectiva referência.
                    </p>

                    <div class="tile is-ancestor is-vertical">
                        <!-- primeira linha -->
                        <div class="tile">
                            <div class="tile is-parent">
                                <div class="tile is-child card ">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Normalizador enelvo
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-magic"></i>
                                            </span>
                                        </div>
                                    </header>
                                    <div class="card-content">
                                        <div class="content has-text-justified">
                                            <p>
                                                Enelvo é uma ferramenta de normalização de CGU desenvolvida para o português.
                                                Ela é capaz de identificar e corrigir ruídos em textos da web, como tweets, reviews de produtos
                                                e posts em redes sociais. Os principais ruídos tratados são erros ortográficos, internetês,
                                                acrônimos, nomes próprios, entre outros.
                                            </p>
                                            <p>
                                                Com este exemplo é possível compreender melhor como a ferramenta funciona na prática:
                                            </p>
                                            <figure class="image enelvo-example">
                                                <img src="{%static 'assets/exemplo_enelvo.png'%}" alt="exemplo de uso do enelvo"/>
                                            </figure>
                                            <p>
                                                A ferramenta está totalmente disponível em um <a href="https://github.com/tfcbertaglia/enelvo" target="_blank">repositório</a> do github
                                                Para maiores informações acesse o <a href="http://thalesbertaglia.com/enelvo/" target="_blank">site</a> e
                                                a <a href="https://teses.usp.br/teses/disponiveis/55/55134/tde-10112017-170919/en.php" target="_blank">dissertação</a> do autor.
                                            </p>
                                        </div>
                                    </div>
                                <div class="card-footer">
                                    <div class="card-footer-item">
                                        <article class="content">
                                            <p>
                                                Bertaglia, Thales Felipe Costa, and Maria das Graças Volpe Nunes. <strong>Exploring Word Embeddings for
                                                Unsupervised Textual User-Generated Content Normalization</strong>. In the Proceedings of the 2nd
                                                Workshop on Noisy User-generated Text, pp. 112-120. 2016.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            </div>

                            <div class="tile is-parent equal-height">
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Filtro de qualidade de revisão
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-filter"></i>
                                            </span>
                                        </div>
                                    </header>
                                <div class="card-content">

                                <div class="content has-text-justified">
                                    <p>
                                        O objetivo dessa ferramenta é analisar e estimar o grau de importância de comentários
                                        gerados por usuários da Web.
                                        Para isso ela verifica os aspectos reputação do usuário(quando possível), riqueza do vocabulário
                                        utilizado e frequência de uso de palavras opinativas.
                                    </p>
                                    <p>
                                        Ela foi implementada utilizando dois métodos: Fuzzy e MLP. No primeiro foram designadas regras
                                        empiricamente combinando os 3 aspectos, enquanto que, no segundo, as regras foram aprendidas a partir
                                        de um corpus de revisões anotadas do buscapé. Para ambos a saída é dada para cada revisão classificando-a
                                        de 1 até 4(insuficiente a pleno) em ordem crescente de qualidade.
                                    </p>
                                    <p>
                                        O método Fuzzy não está disponível para utilização online nesse site devido ao custo de processamento,
                                        no entanto pode ser usado no toolkit. O código fonte está disponível no github tanto para o método <a href="https://github.com/RogerFig/TopX" target="_blank">Fuzzy</a>
                                        quanto para o <a href="https://github.com/roneysco/TopX/tree/train_predict_features" target="_blank">MLP</a>. Para informações mais detalhadas
                                        acesse os respectivos artigos <a href="https://github.com/roneysco/TopX" target="_blank">aqui</a> e
                                        <a href="https://ieeexplore.ieee.org/document/7727261" target="_blank">aqui</a>.
                                    </p>
                                </div>

                                </div>
                                <div class="card-footer">
                                    <div class="card-footer-item">
                                        <article class="content">
                                            <p>
                                                Santos, Roney L. S., Rogerio F. de Sousa, Ricardo A. L. Rabelo andRaimundo S. Moura.<strong>An
                                                experimental study based on Fuzzy Systems and Artificial Neural Networks to estimate the
                                                importance of reviews about product and services</strong>. In the Proceedings of the International Joint
                                                Conference on Neural Networks, pp. 647-653. 2016.
                                            </p>
                                            <p>
                                                Anchiêta, R.T.; Sousa, R.F.; Moura, R.S.; Pardo, T.A.S. <strong>Improving Opinion Summarization by
                                                Assessing Sentence Importance in On-line Reviews</strong>. In the Proceedings of the 11th Brazilian
                                                Symposium in Information and Human Language Technology, pp. 32-36. 2017.
                                            </p>

                                        </article>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>

                        <!-- segunda linha -->
                        <div class="tile">
                            <div class="tile is-parent">
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Filtro de subjetividade de sentenças
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-filter"></i>
                                            </span>
                                        </div>
                                    </header>
                                <div class="card-content">

                                    <div class="content has-text-justified">
                                        <p>
                                            Essa ferramenta recebe como entrada um comentário gerado por um usuário da Web e faz análise de subjetividade
                                            de cada sentença usando método baseada em léxico.
                                            Nessa análise são contabilizadas as palavras de sentimento positivo("gostei", "feliz") e as de sentimento
                                            negativo("ruim", "decepção"), obtendo-se posteriormente a diferença entre as palavras positivas e negativas.
                                            Se essa diferença for diferente de 0, considera-se a sentença como subjetiva e ela permanece na revisão, caso
                                            contrário é removida.
                                        </p>
                                        <p>
                                            O código está disponível no github do
                                            <a href="https://github.com/serbarbosa/sentiment-pipeline/blob/master/filtro_subjetividade/sbj_filter.py" target="_blank">toolkit</a>
                                            e é uma adaptação para python da implementação descrita pelo item 4
                                            <a href="https://drive.google.com/file/d/1KeyjSujnM090en_HJ5u6YCRRY4PaqNYg/view" target="_blank">dessa</a> publicação.
                                        </p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="card-footer-item">
                                        <article class="content">
                                            <p>
                                                Ferreira, L.G.; Belisário, L.B.; Pardo, T.A.S. <strong>Classificação de subjetividade para a
                                                língua portuguesa.</strong>In the Proceedings of the VI Workshop de Iniciação Científica em
                                                Tecnologia da Informação e da Linguagem Humana, pp. 358-361. 2019.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            </div>

                            <div class="tile is-parent">
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Extrator e classificador de aspectos
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </div>
                                    </header>
                                <div class="card-content">

                                <div class="content has-text-centered">
                                    <p>
                                        Essa ferramenta permite encontrar aspectos do produto nos textos de revisão e, a partir das palavras de
                                        sentimento próximas, classificar se existe sentimento positivo ou negativo expressado com relação
                                        a eles.
                                    </p>
                                    <p>
                                        Aspectos são palavras que descrevem alguma característica de determinada entidade(nesse caso produto). Um celular,
                                        por exemplo, terá os aspectos: bateria, preço, velocidade ou até mesmo o próprio produto. Nos textos de revisão
                                        eles podem aparecer de forma explícita(a palavra que define o aspecto aparece no texto) ou de forma implícita("")
                                    </p>
                                </div>

                                </div>
                                <div class="card-footer">
                                    <div class="card-footer-item">
                                        <article class ="content">
                                            <p>
                                                Costa, R.W.M. <strong>Extração e qualificação de aspectos de opinião para o português.</strong> Trabalho de
                                                Conclusão de Curso. Instituto de Ciências Matemáticas e de Computação, Universidade de São Paulo.
                                                São Carlos-SP, November, 47p. 2018.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>

                        <!-- terceira linha -->
                        <div class="tile">
                            <div class="tile is-parent">
                                <div class="tile is-child card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Sumarizador Opizer
                                        </p>
                                        <div class="card-header-icon">
                                            <span class="icon">
                                                <i class="fas fa-file-alt"></i>
                                            </span>
                                        </div>
                                    </header>
                                <div class="card-content">

                                <div class="content has-text-centered">
                                    <p>Explicação... </p>
                                </div>

                                </div>
                                <div class="card-footer">
                                    <div class="card-footer-item">
                                        <article class="content">
                                            <p>
                                                López Condori, R.E..<strong>Sumarização automática de opiniões baseada em aspectos</strong>. Dissertação de
                                                Mestrado. Instituto de Ciências Matemáticas e de Computação, Universidade de São Paulo. São
                                                Carlos-SP, July, 160p. 2015.
                                            </p>
                                            <p>
                                                LópezCondori, R.E. and Pardo, T.A.S.<strong> Opinion Summarization Methods: Comparing and Extending
                                                Extractive and Abstractive Approaches.</strong> Expert Systems withApplications, Vol. 78, pp. 124-134.
                                                2017.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            </div>

                            <!-- cabe inserir mais 1 aqui -->
                            <!--
                            <div class="tile is-parent">
                                <div class="tile is-child card">

                                </div>
                            </div> -->
                        </div>
                    </div>


                </div>

                <!-- utilizacao individual das ferramentas -->
                <!-- Enelvo -->
                <div class="container" v-if="subOptions[currOption].ops[currSubOp] === subOptions[currOption].ops[0]">
                    <!-- Entrada para uso do normalizador -->

                    <section class="section">
                        <div class="container">
                            <h1 class="title">Enelvo - Normalizador Textual</h1>

                            <article class="panel">
                                <!-- caixa de input de texto ou de arquivo -->
                                <div class="panel-block">
                                    <form class="text-input-form" action="index.html" method="post" id="enelvo-input">
                                        <text-input-component :main-page-selected="mainPageSelected" v-model="mainPageSelected">
                                        </text-input-component>
                                        <progress class="progress is-small is-info" v-if="responseStage == 1">15%</progress>
                                        <input id="normalize-btn" class="tool-btn" type="button" name="" value="Iniciar" v-on:click.prevent="runEnelvo()">
                                    </form>
                                </div>
                            </article>

                        </div>

                        <!-- resultado da normalizacao -->
                        <article class="panel" id="enelvo-result" v-if="responseStage == 2">
                            <p class="panel-heading has-text-centered">
                                <strong>Resultado</strong>
                            </p>

                            <div class="control">
                                <textarea class="textarea is-medium" rows="10" readonly >
                                </textarea>
                            </div>
                        </article>
                    </section>


                </div>

                <!-- Filtro de qualidade -->
                <div class="container" v-if="subOptions[currOption].ops[currSubOp] === subOptions[currOption].ops[1]">

                    <section class="section">
                        <div class="container">
                            <h1 class="title">Filtro de qualidade(MLP)</h1>

                            <article class="panel">
                                <!-- caixa de input de texto ou de arquivo -->
                                <div class="panel-block">
                                    <form class="text-input-form" action="index.html" method="post" id="qlt-filter-input">
                                        <text-input-component :main-page-selected="mainPageSelected" v-model="mainPageSelected">
                                        </text-input-component>
                                        <progress class="progress is-small is-info" v-if="responseStage == 1">15%</progress>
                                        <input id="qlt-filter-btn" class="tool-btn" type="button" name="" value="Iniciar" v-on:click.prevent="runQltFilter()">
                                    </form>
                                </div>
                            </article>

                        </div>

                        <!-- resultado da filtragem -->
                        <article class="panel" id="qlt-filter-result" v-if="responseStage == 2">
                            <p class="panel-heading has-text-centered">
                                <strong>Resultado</strong>
                            </p>

                            <div class="control">
                                <textarea class="textarea is-medium" rows="10" readonly >
                                </textarea>
                            </div>
                        </article>
                    </section>


                </div>


                <!-- Filtro de subjetividade -->
                <div class="container" v-if="subOptions[currOption].ops[currSubOp] === subOptions[currOption].ops[2]">

                    <section class="section">
                        <div class="container">
                            <h1 class="title">Filtro de subjetividade</h1>

                            <article class="panel">
                                <!-- caixa de input de texto ou de arquivo -->
                                <div class="panel-block">
                                    <form class="text-input-form" action="index.html" method="post" id="sbj-filter-input">
                                        <text-input-component :main-page-selected="mainPageSelected" v-model="mainPageSelected">
                                        </text-input-component>
                                        <progress class="progress is-small is-info" v-if="responseStage == 1">15%</progress>
                                        <input id="sbj-filter-btn" class="tool-btn" type="button" name="" value="Iniciar" v-on:click.prevent="runSbjFilter()">
                                    </form>
                                </div>
                            </article>

                        </div>

                        <!-- resultado da filtragem -->
                        <article class="panel" id="sbj-filter-result" v-if="responseStage == 2">
                            <p class="panel-heading has-text-centered">
                                <strong>Resultado</strong>
                            </p>

                            <div class="control">
                                <textarea class="textarea is-medium" rows="10" readonly >
                                </textarea>
                            </div>
                        </article>
                    </section>


                </div>


                <!-- Aspectos -->
                <div class="container" v-if="subOptions[currOption].ops[currSubOp] === subOptions[currOption].ops[3]">

                    <section class="section">
                        <div class="container">
                            <h1 class="title">Extrator e Classificador de Aspectos</h1>

                            <article class="panel">
                                <!-- caixa de input de texto ou de arquivo -->
                                <div class="panel-block">
                                    <form class="text-input-form" action="index.html" method="post" id="aspect-input">
                                        <text-input-component :main-page-selected="mainPageSelected" v-model="mainPageSelected">
                                        </text-input-component>
                                        <progress class="progress is-small is-info" v-if="responseStage == 1">15%</progress>
                                        <input id="aspect-btn" class="tool-btn" type="button" name="" value="Iniciar" v-on:click.prevent="runAspect()">
                                    </form>
                                </div>
                            </article>

                        </div>

                        <!-- plotagem da classificação -->
                        <article class="panel" id="aspect-result" v-if="responseStage == 2">
                            <p class="panel-heading has-text-centered">
                                <strong>Resultado</strong>
                            </p>

                            <div class="control">
                                <textarea class="textarea is-medium" rows="10" readonly >
                                </textarea>
                            </div>
                        </article>
                    </section>


                </div>


                <!-- Sumarizador de Opiniões -->
                <div class="container" v-if="subOptions[currOption].ops[currSubOp] === subOptions[currOption].ops[4]">

                    <section class="section">
                        <div class="container">
                            <h1 class="title">Opizer - Sumarizador de Opiniões</h1>

                            <article class="panel">
                                <!-- caixa de input de texto ou de arquivo -->
                                <div class="panel-block">
                                    <form class="text-input-form" action="index.html" method="post" id="opizer-input">
                                        <text-input-component :main-page-selected="mainPageSelected" v-model="mainPageSelected">
                                        </text-input-component>
                                        <progress class="progress is-small is-info" v-if="responseStage == 1">15%</progress>
                                        <input id="opizer-btn" class="tool-btn" type="button" name="" value="Iniciar" v-on:click.prevent="runOpizer()">
                                    </form>
                                </div>
                            </article>

                        </div>

                        <!-- resultado da sumarizacao -->
                        <article class="panel" id="opizer-result" v-if="responseStage == 2">
                            <p class="panel-heading has-text-centered">
                                <strong>Resultado</strong>
                            </p>

                            <div class="control">
                                <textarea class="textarea is-medium" rows="10" readonly >
                                </textarea>
                            </div>
                        </article>
                    </section>


                </div>

            </div>
        </div>

        <!-- API -->
        <div class="container" v-if="options[currOption] === 'API'">
            <div class="container" v-if="currSubOp === -1">
                API
            </div>

            <!-- Documentacao -->
            <div class="container" v-if="subOptions[currOption].ops[currSubOp] === 'Documentação'">
                <h1 class="title">
                    Documentação
                </h1>
                <div class="content">
                    <p>
                        Em breve!
                    </p>
                    <p>
                        Por enquanto utilize a documentação interna dos métodos no arquivo sentimentPipeline.py
                    </p>

                </div>
            </div>

            <!-- Dependencias -->
            <div class="container" v-if="subOptions[currOption].ops[currSubOp] === 'Dependências'">
                <h1 class="title">
                    Dependências
                </h1>

                <div class="content">
                    <ul>
                        <li>python3</li>
                        <li>usando pip:
                            <ul>
                                <li>scrapy</li>
                                <li>pygal</li>
                                <li>nltk
                                    <ul class="unstyled">
                                        <li>import nltk</li>
                                        <li>nltk.download('stopwords') //possivel de ser removida essa dependencia?</li>
                                        <li>nltk.download('punkt')</li>
                                    </ul>
                                </li>
                                <li>sklearn</li>
                                <li>nlpnet</li>
                                <li>networkx</li>
                                <li>enelvo:
                                    <ul class="unstyled">
                                        <li>cd enelvo</li>
                                        <li>pip install --user -r requirements.txt</li>
                                        <li>sudo pyhthon3 setup.py install #instalar enelvo</li>
                                    </ul>
                                </li>
                                <li>cython</li>
                                <li>svglib</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Download -->
            <div class="container" v-if="subOptions[currOption].ops[currSubOp] === 'Download'">
                <h1 class="title">
                    Download
                </h1>

                <div class="content">
                    <p>
                        A biblioteca sentiment-pipeline contendo métodos para utilização do pipeline de sentimento ou
                        também
                        de cada ferramenta individualmente encontra-se disponível em meu repositório do github: <a
                            href="https://github.com/serbarbosa/sentiment-pipeline" target="_blank">@serbarbosa</a>.
                    </p>
                    <p>
                        Contribuições serão bem-vindas =)
                    </p>
                    <p>
                        Veja também o <a href="https://github.com/serbarbosa/opinionzoom" target="_blank">repositório
                            dessa interface web</a>.
                    </p>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <div class="columns">
                    <div class="column">
                        <figure class="image is-128x128 is-inline-block">
                            <a href="https://sites.google.com/icmc.usp.br/opinando" target="_blank">
                                <img src="{%static 'assets/opinando.png'%}" alt="OPINANDO">
                            </a>
                        </figure>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128 is-inline-block">
                            <a href="http://www.nilc.icmc.usp.br/nilc/index.php" target="_blank">
                                <img src="{%static 'assets/nilc.png'%}" alt="NILC">
                            </a>
                        </figure>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128 is-inline-block">
                            <a href="https://www.icmc.usp.br/" target="_blank">
                                <img src="{%static 'assets/icmc_dark.png'%}" alt="ICMC">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="{%static 'main/scripts.js'%}"></script>
</body>

</html>
